form {
    width: 50%;
    margin: 0 auto;
}

form input, form textarea {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    border: 3px solid #ef2e51;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px #780013;
}

form input:hover, form textarea:hover {
    border-color: #780013;
    box-shadow: none;
}

form input:focus, form textarea:focus {
    outline: none;
    background-color: #f69a8a;
    color: #ffffff;
}

.confirmation {
    color: #780013;
    text-align: center;
}

.pageheading {
    color: #ffffff;
    text-align: center;
}
button {
    float: right;
}

.underline {
    height: 4px;
    width: 20%;
    margin: 0 auto;
    background: rgb(204,7,98);
    background: linear-gradient(180deg, rgb(255, 59, 180) 0%, rgba(120,0,19,1) 100%);
    border-radius: 10px;
    margin-bottom: 5px;
}